@font-face {
    font-family: "Montserrat";
    src: 
    url('/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
    url('/assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'), 
    url('/assets/fonts/Montserrat/Montserrat-Bold.eot?#iefix')format("embedded-opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: 
    url('/assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype'),
    url('/assets/fonts/Montserrat/Montserrat-Light.woff') format('woff'), 
    url('/assets/fonts/Montserrat/Montserrat-Light.eot?#iefix')format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}
