.footer{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    padding: 100px 0px;
    &__content{
        display: flex;
    }
    &__item{
        width: 200px;
        *{
            display: block;
            margin-bottom: 20px;
        }
        a {
            @include body_text;
            line-height: 17px;
            color: $Dark_shade_50;
            text-decoration: none;
        }
    }
    &__item_big{
        width: 260px;
        p {
            @include body_text;
            line-height: 24px;
            margin-bottom: 20px !important;
        }
    }
    &__item_big:nth-of-type(1){
        margin-right: 40px;
    }
    .text-field {
        width: 100%;
        margin-bottom: 30px;
        position: relative;
        &::before{
            content: "";
            display: block;
            width: 44px;
            height: 44px;
            background: url('/assets/img/arrow_forward.svg') no-repeat;
            background-position: center;
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 2;
            cursor: pointer;
        }
    }
    &__end {
        width: 100%;
        margin-top: 1px;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        padding: 23px 0px;
        span {
            display: inline-block;
            @include body_text;
            line-height: 24px;
            color: $Dark_shade_75;
        }
    }
    &__social{
        display: inline-block;
        position: absolute;
        right: 0px;
        * {
            margin-left: 20px;
        }
        .twiter {
            margin: 0px;
        }
    }
    &_no-link{
        .wrapper{
            display: flex;
            justify-content: center;
            .footer__content{
                width: 560px;
                flex-direction: column;
                align-items: center;
                p {
                    @include body_text;
                    line-height: 24px;
                    color: $Dark_shade_75;
                    text-align: center;
                    margin: 20px 0px 25px 0px;
                }
                .footer__social {
                    position: relative;
                }
            }
        }
    }
}