.header{
    position: relative;
    width: 100%;
    height: 70px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    .logo{
        margin-top: 15px;
    }
    &__content{
        position: absolute;
        margin-top: 18px;
        right: 0px;
        height: 34px;
        display: inline-block;
    }
    &__nav{
        display: inline-block;
    }
    &__link{
        display: inline-block;
        margin-left: 20px;
        margin-right: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        height: 18px;
        color: $Dark_shade_50;
        text-decoration: none;
        padding: 8px 0px;
        

        &_active{
            font-weight: bold;
            color: $Dark_shade_75;
        }
        &_dropdown{
            position: relative;
            margin-right: 20px;
            &::after{
                cursor: pointer;
                content: " ";
                display: block;
                width: 24px;
                height: 20px;
                background: url('/assets/img/expand_more.svg') no-repeat;
                background-position: center;
                position: absolute;
                top: 8px;
                right: -24px;
                transform: rotate(180deg);
            }
        }
    }

    &__button {
        margin-left: 20px !important;
        height: 34px !important;
    }

    &__vertical-line{
        position: absolute;
        display: inline-block;
        background: rgba(31, 32, 65, 0.1);;
        width: 1px;
        height: 30px;
        margin-left: 20px;
    }
    &__login{
        display: inline-block;
        a {
            margin-left: 50px;
            margin-right: 0px;
        }
    }
}