.hotel_number {
    position: absolute;
    width: 380px;
    height: 511px;
    left: 560px;
    top: 150px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 40px 30px 30px 30px;
    &__title {
        padding: 0px;
        display: inline-block;
        * {
            display: inline;
        }
        h1 {
            margin: 0 5px;
        }
        span {
            @include h3;
            color: $Main_color;
        }
    }
    &__price {
        display: inline-block;
        padding: 0;
        * {
            display: inline;
        }
        h2 {
            color: $Dark_shade_50 ;
            margin: 0 5px;
        }
        span {
            @include body_text;
            color: $Dark_shade_50 ;
        }
        
    }
    &__header, &__dropdown {
        margin-bottom: 20px;
    }
    &__date-range {
        margin-bottom: 20px;
    }
    h3 {
        margin-bottom: 5px;
    }
    &__button {
        margin-top: 20px;
        width: 100%;
        &::before{
            content: "";
            display: block;
            width: 44px;
            height: 44px;
            background: url('/assets/img/arrow_forward_white.svg') no-repeat;
            background-position: center;
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 2;
        }
    }
    &__options{
        width: 100%;
        @include body_text;
        span {float: right;}

    }
    &__option{
        display: flex;
        width: 234px;
        height: 20px;
        padding-bottom: 14px;
        div:not(.info) { 
            display: inline-block;
            width: 214px;
        }
    }
    &__sum {
        display: flex;
        position: relative;
        flex-wrap: nowrap;
        align-items: baseline;
        width: 100%;
        margin-top: 30px;
        @include h2;
        .dots{
            flex-grow: 1;
            border-bottom: 1px dotted rgba(31,32,65,.25);
        }
        h2 {
            margin: 0;
            padding-right: 5px;
        }
        &-price{
            padding-left: 5px;
        }
    }
    &__header{
        width: 100%;
    }
    &__price{
        padding-top: 6px;
        float: right;
    }
    
}
.info {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('/assets/img/i.svg') no-repeat;
}