.number_card{
    position: absolute;
    width: 270px;
    height: 257px;
    left: 980px;
    top: 559.5px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
}