mixin checkbox(id, mod, text)
    - mod=mod+"__checkbox"
    div(class=mod+' '+'checkbox')
        input(class="checkbox__check", type="checkbox", id=id)
        label(class="checkbox__label", for=id)=text