mixin date-range(mod)
    - mod = mod+"__date-range"
    div(class=mod+" "+"date-range" readonly)
        input.date-range__start.text-field__input(placeholder = 'ДД.ММ.ГГГГ', readonly)
        input.date-range__end.text-field__input(placeholder = 'ДД.ММ.ГГГГ', readonly)
        .datepicker-here
