mixin date-range(mod)
    - mod = mod+"__date-range"
    div(class=mod+" "+"date-range" readonly)
        .start
            h3 прибытие
            .date-range__start.text-field__input(placeholder = 'ДД.ММ.ГГГГ', readonly)
        .end
            h3 выезд
            .date-range__end.text-field__input(placeholder = 'ДД.ММ.ГГГГ', readonly)
        .datepicker-here
