mixin range-slider (text, mod)
    - mod = mod+"__range-slider"
    div(class=mod+" range-slider")
        h3(class='range-slider__header')=text
        span(class='range-slider__val')
        div(class='range-slider__slider')