.button{
    position: relative;
    height: 44px;
    padding: 10px 20px;
    @include h3;
    color: #FFFFFF;
    background: $MainGrad;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    &__hollow{
        @include h3;
        margin: 2px;
        position: relative;
        color: $Main_color;
        background: #FFFFFF;
        padding: 8px 18px 8px;
        height: 40px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        &::before{
            content: '';
            padding: 2px;
            display: block;
            width: 100%;
            height: 100%; 
            border-radius: 22px;
            background:  $MainGrad;
            border-radius: 22px;
            position: absolute;
            top: -2px;
            left: -2px;
            z-index: -1;
        }
        &__inactive{
            &::before{
                opacity: 0.5;
            }
            
        }
    }
    &__text{
        @include h3;
        position: relative;
        color: $Main_color;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        &__inactive{
            color: $Dark_shade_25;
        }
    }
}