.button{
    position: relative;
    height: 44px;
    padding: 10px 20px;
    @include h3;
    color: #FFFFFF;
    background: $MainGrad;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    &__hollow{
        @include h3;
        border: 2px solid transparent;
        border-radius: 22px;
        box-shadow: 2px 1000px 1px #fff inset;
        background: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),$MainGrad;
        background-clip: content-box,border-box;
        background-origin: border-box;
        padding: 10px 20px;
        height: 44px;
        color: $Main_color;
        &__inactive{
            opacity: 0.5;
        }
    }
    &__text{
        @include h3;
        position: relative;
        color: $Main_color;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        &__inactive{
            color: $Dark_shade_25;
        }
    }
}