.datepicker{
  position: absolute;
  padding: 20px;
  width: 320px;
  top:65px;
  left: 0px;
  margin-top: 5px;
  margin-bottom: 20px;

  background: #FFFFFF;
  border: 1px solid $Dark_shade_25;
  box-sizing: border-box;
  box-shadow: $Dark_shade_5   ;
  border-radius: 4px;
  z-index: 6;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &--nav {
    display: flex;
    padding-bottom: 30px;
  }
    &--nav-title{
      width: 236px;
      text-align: center;
      display: inline-block;
      @include h2;
    }
    &--nav-action{
      width: 24px;
      height: 24px;
    }
  &--day-name{
    width: 40px;
    height: 26px;
    padding-top: 14px;

    font-family: $Main_font;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: $Main_color;
  }
  &--days-names{
    display: flex;
  }
  &--days {
    width: 280px;
  }
  &--cell-day {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 26px;
    padding-top: 14px;

    font-family: $Main_font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: $Dark_shade_50;
  }
}
.-selected-, .-focus- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}
.-in-range-{
  &::before{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
}
.-current-{
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
  color: white;
  font-weight: bold;
}
.-range-from-{
  &::before{
    content: "";
    display: block;
    width: 20px;
    height: 40px;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    background-position: center;
    position: absolute;
    top: 0px;
    left: 20px;
    z-index: -1;
  }
}
.-range-to-{
  &::before{
    content: "";
    display: block;
    width: 20px;
    height: 40px;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
}
.datepicker--content {
  .button__text:not(.button__text__inactive){
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 20px;
    z-index: 2;
  }
}

.datepicker--button{
  display: block;
  margin-top: 20px;
}
.date-range{
  display: flex;
  position: relative;
  width: 320px;
  h3, .start, .end, input{
    width: 150px;
    display: block;
  }
  .end {
    margin-left: 20px;
  }
}
.text-field__input {
  position: relative;

  &::after{
    cursor: pointer;
    content: " ";
    display: block;
    width: 44px;
    height: 44px;
    background: url('/assets/img/expand_more.svg') no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: rotate(180deg);
    }
}
