.dropdown{
    position: absolute;
    border-radius: 4px;
    @include input_text;
    background: #FFFFFF;
    width: 320px;
    border: 1px solid $Dark_shade_25;
    box-sizing: border-box;
    z-index: 5;
    &__border{
        border-radius: 4px;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border: 1px solid $Dark_shade_50;
    }
    &__value{
        padding: 13px 15px;
        color: $Dark_shade_75;
        &::after{
            cursor: pointer;
            content: "";
            display: block;
            width: 44px;
            height: 44px;
            background: url('/assets/img/expand_more.svg') no-repeat;
            background-position: center;
            position: absolute;
            top: 0px;
            right: 0px;
            transform:rotate(180deg);
        }
        }
        
    &__list{
        border-top: 1px solid $Dark_shade_50;
        padding-bottom: 7px;
    }
    &__item{
        position: relative;
        height: 30px;
        padding: 7px 7px 0px 15px;
        display: flex;
    }
    &__item-name, &__item-val{
        @include h3;
        margin-top: 6px;
    }
    &__minus, &__plus {
        cursor: pointer;
        position: relative;
        margin: 0 7px;
        font-family: $Main_font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        padding-top: 5px;
        
        color: $Dark_shade_50;
        width: 28px;
        height: 23px;
        border-radius: 30px;
        border: 1px solid $Dark_shade_25;
    }

    &__buttons{
        display: flex;
        position: absolute;
        right: 0px;
    }
    &__button{
        margin-top: 13px;
        & + .button__text{
            position: absolute;
            right: 7px;
        }
    }
    &__item-val {
        width: 18px;
        text-align: center;
    }

}