extends ../layout/main
block content
    .content
        .navigation
            h1 Sergey Batukov
            button.button.button(onClick='location.href="UI_elements.html"') COLORS & TYPE
            button.button.button(onClick='location.href="UI_elements.html"') UI ELEMENTS
            button.button.button(onClick='location.href="cards.html"') CARDS
            button.button.button(onClick='location.href="headers-footers.html"') HEADERS & FOOTERS
