extends ../layout/main
block content
    .content
        .navigation
            h1 Sergey Batukov
            button.button.button__hollow__inactive COLORS & TYPE
            button.button.button__hollow__inactive UI ELEMENTS
            button.button(onClick='location.href="cards.html"') CARDS
            button.button(onClick='location.href="headers-footers.html"') HEADERS & FOOTERS
            button.button(onClick='location.href="landing_page.html"') LANDING PAGE
            button.button(onClick='location.href="search_room.html"') SEARCH ROOM
