extends ../layout/main
block content
    .UI__form.form
        +text-field('Текст', 'UI', 'Email', 1)
        +button('click me','UI', 0)
        +button('click me','UI', 1)
        +button('click me','UI', 2)
        +button('click me','UI', 3)