extends ../layout/main
block content
    .UI__form.form
        +text-field('Текст', 'UI', 'Email', 1)
        +button('click me','UI', 0)
        +button('click me','UI', 1)
        +button('click me','UI', 2)
        +button('click me','UI', 3)
        +checkbox-list('1', 'UI', 'Завтрак')
        +checkbox-list('2', 'UI', 'Письменный стол')
        +checkbox-list('3', 'UI', 'Стул для кормления')
        +checkbox-list('4', 'UI', 'Кроватка')
        +checkbox-list('5', 'UI', 'Телевизор')
        +checkbox-list('6', 'UI', 'Шампунь')