extends ../layout/main
block content
    +header('headers-footers', 0)
    .wrapper
        .search-room
            .search-room__filter
                +date-range('search-room')
                +dropdown('search-room', 'guests')
                +range-slider('Диапазон цен', 'search-room')
                .checkbox-buttons
                    h3 checkbox buttons
                    +checkbox('1', 'checkbox-buttons', 'Можно курить')
                    +checkbox('2', 'checkbox-buttons', 'Можно с питомцами')
                    +checkbox('3', 'checkbox-buttons', 'Можно пригласить гостей (до 10 человек)')
                h3 Удобства
                +dropdown('search-room', ' ')
                .checkbox-list
                    h3(class="checkbox-list checkbox-list__header") дополнительные удобства
                    .checkbox-list__container
                        +checkbox('4', 'checkbox-list', 'Завтрак')
                        +checkbox('5', 'checkbox-list', 'Письменный стол')
                        +checkbox('6', 'checkbox-list', 'Стул для кормления')
                        +checkbox('7', 'checkbox-list', 'Кроватка')
                        +checkbox('8', 'checkbox-list', 'Телевизор')
                        +checkbox('9', 'checkbox-list', 'Шампунь')
            .search-room__grid
                .search-room__header
                    h1 Номера, которые мы для вас подобрали
                .search-room__cards
                    +number_card('search-room', 1)
                    +number_card('search-room', 0)
                    +number_card('search-room', 0)
                    +number_card('search-room', 0)
                    +number_card('search-room', 0)
                    +number_card('search-room', 0)
                    +number_card('search-room', 0)
                    +number_card('search-room', 0)
                    +number_card('search-room', 0)
                    +number_card('search-room', 0)
                    +number_card('search-room', 0)

    +footer('headers-footers', 0)