.content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    h1 {
        display: block;
        text-transform: uppercase;
        text-align: center;
        margin: 30px;
    }
}

.navigation{
    position: relative;
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-gap: 20px;
    grid-auto-rows: 235px 235px;
    justify-content: center;
    &__item {
        transition: all 0.5s;
        justify-self: center;
        cursor: pointer;
        border: 1px solid rgb(255, 255, 255);
        position: relative;
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 4px;
        background-color: white;
        background-size: cover;
        box-shadow: 10px 10px 10px rgba(31, 32, 65, 0.01);
        &:hover{
            transition: all 0.5s;
            border-radius: 0px;
            box-shadow: 20px 20px 80px rgba(31, 32, 65, 0.1);
            h3 {
                border-radius: 0px;
                top: 200px;
            }
        }
        h3 {
            transition: all 0.5s;
            position: absolute;
            top:210px;
            right: -1px;
            width: 182px;
            display: block;
            background-color: white;
            padding: 5px 10px;
            border-radius: 20px;
            box-shadow: 10px 10px 20px rgba(31, 32, 65, 0.05);
        }
    }
}