.UI{
    &__text-field, &__button, &__radio-buttons, &__toggle, &__like-button, &__dropdown, &__checkbox-list,&__range-slider{
        margin: 10px;
    }
    &__rating{
        position: relative;
        margin: 10px;
        display: block;
    }
    * {
        margin: 10px;
    }
}
h3{
    margin: 10px
}