mixin galery(mod)
    - mod=mod+"__galery"
    div(class=mod+' '+'galery')
        .galery__img
        .galery__button
            .galery__button-left
            .galery__button-right
            .galery__button-dots