mixin header(mod, login)
    - mod=mod+"__header"
    header(class=mod+' '+'header')
        .wrapper
            .logo
            if (login == 0)
                .header__content
                    nav.header__nav
                        a.header__link(href="#") О нас
                        a.header__link.header__link_dropdown(href="#") Услуги
                        a.header__link(href="#") Вакансии
                        a.header__link(href="#") Новости
                        a.header__link.header__link_dropdown(href="#") Соглашения
                    +button('войти','header', 1)
                    +button('зарегистрироваться','header', 0)
            else
                .header__content
                    nav.header__nav
                        a.header__link(href="#") О нас
                        a.header__link.header__link_dropdown(href="#") Услуги
                        a.header__link(href="#") Вакансии
                        a.header__link(href="#") Новости
                        a.header__link.header__link_dropdown(href="#") Соглашения
                    .header__vertical-line
                    .header__login
                        a.header__link(href="#") Sergey Batukov