mixin hotel_number(mod)
    - mod=mod+"__hotel_number"
    div(class=mod+' '+'hotel_number')
        .hotel_number__header
            .hotel_number__title
                h3 №
                h1 888
                span.luxury люкс
            .hotel_number__price
                h2 9 990₽
                span в сутки
        +date-range('hotel_number', 0)
        h3 гости
        +dropdown('hotel_number', 'guests')
        .hotel_number__options
            span 39 960₽
            .hotel_number__option 9 990₽ х 4 суток 
            span 0₽
            .hotel_number__option 
                div Сбор за услуги: скидка 2 179₽
                .info
            span 300₽
            .hotel_number__option 
                div Сбор за дополнительные услуги
                .info
            
        .hotel_number__sum
            h2 Итого 
            div.dots
            .hotel_number__sum-price 38 081₽
        +button('забронировать','hotel_number', 0)