include ../modules/elementary/text-field
include ../modules/elementary/checkbox-list
include ../modules/elementary/button
include ../modules/elementary/radio-buttons
include ../modules/elementary/toggle
include ../modules/elementary/like-button
include ../modules/elementary/rating
include ../modules/elementary/dropdown
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        
        block content