@import "utils/design-settings";
@import "utils/mixins";
@import "utils/fonts";
@import "modules/blocks/header.scss";
@import "modules/elementary/text-field.scss";
@import "modules/elementary/button.scss";
@import "modules/elementary/form.scss";
@import "modules/elementary/checkbox-list.scss";
@import "modules/elementary/radio-buttons.scss";
@import "modules/elementary/toggle.scss";
@import "modules/elementary/like-button.scss";
@import "modules/elementary/rating.scss";
@import "modules/elementary/dropdown.scss";
@import "modules/elementary/range-slider.scss";
@import "modules/elementary/date-range.scss";

@import "modules/blocks/number_search.scss";
@import "modules/blocks/registration.scss";
@import "modules/blocks/sing_in.scss";
@import "modules/blocks/hotel_number.scss";
@import "modules/blocks/number_card.scss";
@import "modules/blocks/galery.scss";

@import "layout/index.scss";
body {
    background-color: #F4F4F6;
}
.body-logo{
    position: relative;
    left: 30px;
    top: 30px;
    width: 48x;
    height: 48px;
    background: url('/assets/img/logo-grey.svg') no-repeat;
}